{% set NavPrimary = cmsDataCategoryTopLevel(5) %}
{% if NavPrimary %}
    {# put class=active after blog-nav-item for a nice arrow! #}
    <a class="blog-nav-item" href="/">Home</a>
    {% for Item in NavPrimary %}
        <a class="blog-nav-item" href="{{ Item.getPermalink }}">{{ Item.getName }}</a>
    {% endfor %}
{% endif %}
